@(facilityForm: Form[Facility], messageType: String, id: Long)

@import helper._
@import helper.twitterBootstrap._

@main(messageType+" a Facility") {
    
    @helper.form(routes.FacilityController.save(messageType, id)) {
        
        <fieldset>
            @inputText(facilityForm("name"), '_label -> "Facility name")
            @inputText(facilityForm("phone"), '_label -> "Phone")

            

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Save this facility" class="btn primary"> or 
            <a href="@routes.FacilityController.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
}